percentCalculator/bin/
percentCalculator/obj/
.vs/
percentCalculator/obj/Debug/net6.0-windows/apphost.exe
percentCalculator/obj/Debug/net6.0-windows/percentCalculator.assets.cache
percentCalculator/obj/Debug/net6.0-windows/percentCalculator.csproj.FileListAbsolute.txt
percentCalculator/obj/Debug/net6.0-windows/percentCalculator.designer.deps.json
percentCalculator/obj/Debug/net6.0-windows/percentCalculator.GeneratedMSBuildEditorConfig.editorconfig
percentCalculator/obj/Release/net6.0-windows/percentCalculator.csproj.GenerateResource.cache
percentCalculator/obj/Release/net6.0-windows/percentCalculator.dll
percentCalculator/obj/Release/net6.0-windows/percentCalculator.pdb
.vs/percentCalculator/DesignTimeBuild/.dtbcache.v2
.vs/percentCalculator/v17/.suo
