.vs/
.vs/percentCalculator/DesignTimeBuild/
.vs/percentCalculator/v17/
percentCalculator/bin/
percentCalculator/obj/
percentCalculator/obj/Debug/net6.0-windows/
percentCalculator/obj/Release/net6.0-windows/

